<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancier.foj.system.mapper.ExamMapper">

    <resultMap id="BaseResultMap" type="com.fancier.foj.system.domain.exam.Exam">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>


    <select id="getExamList" resultType="com.fancier.foj.system.domain.exam.vo.ExamVO">
        SELECT
            te.id,
            te.title,
            te.start_time,
            te.end_time,
            te.status,
            ts.username as creator_name,
            te.create_time
        FROM
            tb_exam te
        left join
            sys_user ts
        on
            te.create_by = ts.id
        <where>
            <if test="end_time != null and end_time != '' ">
                AND te.end_time &lt;= #{end_time}
            </if>
            <if test="start_time != null and start_time != ''">
                AND te.start_time &gt;= #{start_time}
            </if>
            <if test="status != null ">
                AND te.status = #{status}
            </if>
            <if test="title != null and title != '' ">
                AND te.title LIKE CONCAT('%',#{title},'%')
            </if>
        </where>
        ORDER BY
            create_time DESC
    </select>
</mapper>
