<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancier.foj.system.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.fancier.foj.system.domain.question.Question">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="difficulty" column="difficulty" jdbcType="TINYINT"/>
            <result property="timeLimit" column="time_limit" jdbcType="INTEGER"/>
            <result property="spaceLimit" column="space_limit" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="questionCase" column="question_case" jdbcType="VARCHAR"/>
            <result property="defaultCode" column="default_code" jdbcType="VARCHAR"/>
            <result property="mainFunc" column="main_func" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>
        <select id="selectQuestionList" resultType="com.fancier.foj.system.domain.question.vo.QuestionVO">
            SELECT
                tq.id,
                tq.title,
                tq.difficulty,
                ts.username as creator_name,
                tq.create_time
            FROM
                tb_question tq
            left join
                sys_user ts
            on
                tq.create_by = ts.id
            <where>
                <if test="difficulty != null ">
                    AND difficulty = #{difficulty}
                </if>
                <if test="title != null and title != '' ">
                    AND title LIKE CONCAT('%',#{title},'%')
                </if>
            </where>
            ORDER BY
                create_time DESC
        </select>
</mapper>
