<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancier.foj.friend.mapper.UserExamMapper">

    <resultMap id="BaseResultMap" type="com.fancier.foj.friend.domain.user.UserExam">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="examId" column="exam_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>
    <select id="selectUserExamList" resultType="com.fancier.foj.friend.domain.exam.vo.ExamVO">
        SELECT
            e.exam_id,
            e.title,
            e.start_time,
            e.end_time
        FROM
            tb_user_exam ue
        JOIN
            tb_exam e
        ON
            ue.exam_id = e.exam_id
        WHERE
            ue.user_id = #{userId}
        ORDER BY
            ue.create_time DESC
    </select>
</mapper>
